.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}

form{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 70%;
}


label{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

input{
    border: 4px solid black;
    width: 50%;
    min-height: 30%;
    font-size: 20px;
    padding: 3px;
}

input:focus-within{
    outline: 3px solid red;
    box-shadow: 10px 10px 0 cyan;
}

.buttons-container{
    min-width: 80%;
    display: flex;
    justify-content: space-around;
    min-height: 10%;
}

button{
    background-color: white;
    border: 4px solid black;
    min-width: fit-content;
    padding: 2%;
}

button:hover{
    outline: 3px solid red;
    box-shadow: 10px 10px 0 cyan;
}