nav{
    width: 100%;
    height: calc(3vw + 2rem);
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: calc(5px + 0.4vh) solid black;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

nav div{
    width: calc(100%/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}